Consignment Pricing Prediction

Data Collection

Dataset Source - https://www.kaggle.com/datasets/divyeshardeshana/supply-chain-shipment-pricing-data
The data consists of 33 columns and 10325 rows (appx.).

In [136]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Import the CSV Data as Pandas DataFrame

In [137]:
df = pd.read_csv("dataset\SCMS_Delivery_History_Dataset_1.csv")

Show Top 5 Records

In [138]:
df.head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",Yes,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",Yes,7590,45450.08,NaN

Shape of the dataset

In [139]:
df.shape

(10324, 33)

Check Missing values

In [140]:
df.isna().sum()

ID                                 0
Project Code                       0
PQ #                               0
PO / SO #                          0
ASN/DN #                           0
Country                            0
Managed By                         0
Fulfill Via                        0
Vendor INCO Term                   0
Shipment Mode                    360
PQ First Sent to Client Date       0
PO Sent to Vendor Date             0
Scheduled Delivery Date            0
Delivered to Client Date           0
Delivery Recorded Date             0
Product Group                      0
Sub Classification                 0
Vendor                             0
Item Description                   0
Molecule/Test Type                 0
Brand                              0
Dosage                          1736
Dosage Form                        0
Unit of Measure (Per Pack)         0
Line Item Quantity                 0
Line Item Value                    0
Pack Price                         0
Unit Price                         0
Manufacturing Site                 0
First Line Designation             0
Weight (Kilograms)                 0
Freight Cost (USD)                 0
Line Item Insurance (USD)        287
dtype: int64

In [141]:
df.duplicated().sum()

0

In [142]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            10324 non-null  int64
 1   Project Code                  10324 non-null  object
 2   PQ #                          10324 non-null  object
 3   PO / SO #                     10324 non-null  object
 4   ASN/DN #                      10324 non-null  object
 5   Country                       10324 non-null  object
 6   Managed By                    10324 non-null  object
 7   Fulfill Via                   10324 non-null  object
 8   Vendor INCO Term              10324 non-null  object
 9   Shipment Mode                 9964 non-null   object
 10  PQ First Sent to Client Date  10324 non-null  object
 11  PO Sent to Vendor Date        10324 non-null  object
 12  Scheduled Delivery Date       10324 non-null  object
 13  Delivered to Client Date      10324 non-null  object
 14  Delivery Recorded Date        10324 non-null  object
 15  Product Group                 10324 non-null  object
 16  Sub Classification            10324 non-null  object
 17  Vendor                        10324 non-null  object
 18  Item Description              10324 non-null  object
 19  Molecule/Test Type            10324 non-null  object
 20  Brand                         10324 non-null  object
 21  Dosage                        8588 non-null   object
 22  Dosage Form                   10324 non-null  object
 23  Unit of Measure (Per Pack)    10324 non-null  int64
 24  Line Item Quantity            10324 non-null  int64
 25  Line Item Value               10324 non-null  float64
 26  Pack Price                    10324 non-null  float64
 27  Unit Price                    10324 non-null  float64
 28  Manufacturing Site            10324 non-null  object
 29  First Line Designation        10324 non-null  object
 30  Weight (Kilograms)            10324 non-null  object
 31  Freight Cost (USD)            10324 non-null  object
 32  Line Item Insurance (USD)     10037 non-null  float64
dtypes: float64(4), int64(3), object(26)
memory usage: 2.6+ MB

In [143]:
df.nunique()

ID                              10324
Project Code                      142
PQ #                             1237
PO / SO #                        6233
ASN/DN #                         7030
Country                            43
Managed By                          4
Fulfill Via                         2
Vendor INCO Term                    8
Shipment Mode                       4
PQ First Sent to Client Date      765
PO Sent to Vendor Date            897
Scheduled Delivery Date          2006
Delivered to Client Date         2093
Delivery Recorded Date           2042
Product Group                       5
Sub Classification                  6
Vendor                             73
Item Description                  184
Molecule/Test Type                 86
Brand                              48
Dosage                             54
Dosage Form                        17
Unit of Measure (Per Pack)         31
Line Item Quantity               5065
Line Item Value                  8741
Pack Price                       1175
Unit Price                        183
Manufacturing Site                 88
First Line Designation              2
Weight (Kilograms)               4688
Freight Cost (USD)               6733
Line Item Insurance (USD)        6722
dtype: int64

In [144]:
df.describe()

,ID,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Line Item Insurance (USD)
count,10324.000000,10324.000000,10324.000000,1.032400e+04,10324.000000,10324.000000,10037.000000
mean,51098.968229,77.990895,18332.534870,1.576506e+05,21.910241,0.611701,240.117626
std,31944.332496,76.579764,40035.302961,3.452921e+05,45.609223,3.275808,500.190568
min,1.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,12795.750000,30.000000,408.000000,4.314593e+03,4.120000,0.080000,6.510000
50%,57540.500000,60.000000,3000.000000,3.047147e+04,9.300000,0.160000,47.040000
75%,83648.250000,90.000000,17039.750000,1.664471e+05,23.592500,0.470000,252.400000
max,86823.000000,1000.000000,619999.000000,5.951990e+06,1345.640000,238.650000,7708.440000

#Exploring Data

In [145]:
df.head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",Yes,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",Yes,7590,45450.08,NaN

In [146]:
from geotext import GeoText
import pandas as pd

df1 = pd.read_csv("https://raw.githubusercontent.com/PratikBorkar04/consignment_pricing/main/notebook/dataset/SCMS_Delivery_History_Dataset_1.csv")

cities_list = []
countries_list = []
for i in range(len(df)):
    text = df1["Manufacturing Site"][i]
    if text:
        places = GeoText(text.title())
        cities = list(places.cities) if places.cities else []
        countries = list(places.countries) if places.countries else []
    else:
        cities = []
        countries = []
    cities_list.append(cities)
    countries_list.append(countries)

df["cities"] = cities_list
df["countries"] = countries_list

In [147]:
df["cities"] = cities_list
df["countries"] = countries_list
df.head(2)

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD),cities,countries
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,551.0,29.0,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN,[],[]
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,6200.0,6.2,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN,[],[India]

FREIGHT COST ANALYSIS:


1. https://truckstop.com/blog/freight-shipping-costs/
2. https://www.gojarrett.com/blog/key-factors-that-influence-your-freight-costs
From the above links, the factors that affect freight costs are:


Distance: The farther the destination, the more it will cost to ship the goods.


Weight: Heavier items will require more fuel to transport and may incur additional handling fees.


Size: Large or bulky items may require special handling or equipment, which can increase the cost of shipping.


Mode of transportation: The method of transport used (e.g., air, ocean, truck, rail) will affect the cost.


Carrier: Different carriers have different pricing structures and fees, so the choice of carrier can affect the cost of shipping.


Destination: Shipping to remote or hard-to-reach locations may incur additional fees.


Packaging: Properly packaging items to prevent damage during transport can reduce the risk of additional fees.


Type of goods: Hazardous or fragile items may require special handling, which can increase the cost of shipping.



From the above knowledge, a total of 11 columns from the data set are selected, which are:


      1. Country 2. Shipment Mode 3. Unit of measure 4. Line Item Quantity 5. Line Item Value 6. Pack price 7. Unit Price 8. Weight (kilos) 9. Freight Cost (USD) [For Prediction] 10. Vendor INCO Term 11. Fulfil via

In [148]:
#Remove columns that are not required for prediction
list_not_required_columns = ['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #',
       'Managed By','PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form',
       'First Line Designation',
       'Line Item Insurance (USD)']
df = df.drop(list_not_required_columns,axis = 1)
df.head()

,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),cities,countries
0,Côte d'Ivoire,Direct Drop,EXW,Air,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,[],[]
1,Vietnam,Direct Drop,EXW,Air,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",358,4521.5,[],[India]
2,Côte d'Ivoire,Direct Drop,FCA,Air,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,171,1653.78,[],[]
3,Vietnam,Direct Drop,EXW,Air,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1855,16007.06,[],[India]
4,Vietnam,Direct Drop,EXW,Air,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",7590,45450.08,[],[India]

In [149]:
#Rename columns
df = df.rename(columns={"Country":"country","Manufacturing Site":"mfg_site","Fulfill Via":"fulfill_via","Vendor INCO Term":"vendor",
                   "Shipment Mode":"shipment_mode", "Unit of Measure (Per Pack)":"unit_of_measure",
                   "Line Item Quantity":"line_item_quantity","Pack Price":"pack_price",
                   "Unit Price":"unit_price","Weight (Kilograms)":"weight","Freight Cost (USD)":"freight_cost",
                   "Line Item Value":"line_item_value"})

In [150]:
df.head(2)

,country,fulfill_via,vendor,shipment_mode,unit_of_measure,line_item_quantity,line_item_value,pack_price,unit_price,mfg_site,weight,freight_cost,cities,countries
0,Côte d'Ivoire,Direct Drop,EXW,Air,30,19,551.0,29.0,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,[],[]
1,Vietnam,Direct Drop,EXW,Air,240,1000,6200.0,6.2,0.03,"Aurobindo Unit III, India",358,4521.5,[],[India]

In [151]:
print("categories in country ",end=" ")
print(df["country"].unique())

categories in country  ["Côte d'Ivoire" 'Vietnam' 'Nigeria' 'Zambia' 'Tanzania' 'Rwanda' 'Haiti'
 'Zimbabwe' 'Ethiopia' 'South Africa' 'Guyana' 'Namibia' 'Botswana'
 'Mozambique' 'Kenya' 'Kazakhstan' 'Uganda' 'Kyrgyzstan' 'Senegal' 'Benin'
 'Lesotho' 'Pakistan' 'Swaziland' 'Ghana' 'Angola' 'Lebanon'
 'Sierra Leone' 'Cameroon' 'South Sudan' 'Burundi' 'Dominican Republic'
 'Malawi' 'Congo, DRC' 'Sudan' 'Mali' 'Guatemala' 'Togo' 'Afghanistan'
 'Liberia' 'Burkina Faso' 'Guinea' 'Libya' 'Belize']

In [152]:
d_country = {}
for i in df["country"]:
    if i in d_country:
        d_country[i] = d_country[i] + 1
    else:
        d_country[i] = 1
sorted_dict = sorted(d_country.items(),key = lambda kv: kv[1],reverse=True)
len_total_countries =int(len(d_country) )
sum_total_countries = int(sum(d_country.values()))
avg = sum_total_countries/len_total_countries
print(avg)
print(sorted_dict)

240.09302325581396
[('South Africa', 1406), ('Nigeria', 1194), ("Côte d'Ivoire", 1083), ('Uganda', 779), ('Vietnam', 688), ('Zambia', 683), ('Haiti', 655), ('Mozambique', 631), ('Zimbabwe', 538), ('Tanzania', 519), ('Rwanda', 430), ('Congo, DRC', 333), ('Guyana', 237), ('Ethiopia', 216), ('South Sudan', 164), ('Kenya', 111), ('Burundi', 98), ('Namibia', 95), ('Cameroon', 75), ('Botswana', 70), ('Ghana', 58), ('Dominican Republic', 52), ('Sudan', 46), ('Swaziland', 35), ('Mali', 17), ('Pakistan', 15), ('Guatemala', 15), ('Malawi', 14), ('Benin', 13), ('Lebanon', 8), ('Libya', 8), ('Angola', 7), ('Liberia', 6), ('Lesotho', 4), ('Sierra Leone', 4), ('Senegal', 3), ('Togo', 3), ('Afghanistan', 3), ('Kazakhstan', 2), ('Kyrgyzstan', 2), ('Burkina Faso', 2), ('Guinea', 1), ('Belize', 1)]

df["Country] = From the above calculation, the average of all country counts is about 240. For the machine learning model, the countries that are selected are above count 240.

In [153]:
df.shape

(10324, 14)

In [154]:
#remvoe countries whose average is less than 240
list_not_required_rows = ['Ethiopia' , 'Guyana' ,'Namibia' ,'Botswana',
  'Kenya' ,'Kazakhstan' ,'Kyrgyzstan' ,'Senegal' ,'Benin',
 'Lesotho' ,'Pakistan' ,'Swaziland' ,'Ghana' ,'Angola', 'Lebanon',
 'Sierra Leone' ,'Cameroon' ,'South Sudan' ,'Burundi' ,'Dominican Republic',
 'Malawi' ,'Sudan' ,'Mali' ,'Guatemala' ,'Togo' ,'Afghanistan',
 'Liberia','Burkina Faso' ,'Guinea' ,'Libya' ,'Belize']
df = df[~df["country"].isin(list_not_required_rows)]
print(df.head(5352))
print(df.shape)

            country  fulfill_via vendor shipment_mode  unit_of_measure
0     Côte d'Ivoire  Direct Drop    EXW           Air               30  \
1           Vietnam  Direct Drop    EXW           Air              240
2     Côte d'Ivoire  Direct Drop    FCA           Air              100
3           Vietnam  Direct Drop    EXW           Air               60
4           Vietnam  Direct Drop    EXW           Air               60
...             ...          ...    ...           ...              ...
6304         Rwanda  Direct Drop    CIP           Air               60
6305         Zambia  Direct Drop    EXW           Air               60
6307        Vietnam  Direct Drop    EXW           Air               30
6308   South Africa  Direct Drop    DDP         Truck               90
6309         Uganda  Direct Drop    EXW         Ocean               60

      line_item_quantity  line_item_value  pack_price  unit_price
0                     19           551.00       29.00        0.97  \
1                   1000          6200.00        6.20        0.03
2                    500         40000.00       80.00        0.80
3                  31920        127360.80        3.99        0.07
4                  38000        121600.00        3.20        0.05
...                  ...              ...         ...         ...
6304               10350         26806.50        2.59        0.04
6305               34165         76871.25        2.25        0.04
6307                7248         76104.00       10.50        0.35
6308                  57          1483.72       26.03        0.29
6309                9888         64173.12        6.49        0.11

                            mfg_site                      weight
0         Ranbaxy Fine Chemicals LTD                          13  \
1          Aurobindo Unit III, India                         358
2      ABBVIE GmbH & Co.KG Wiesbaden                         171
3      Ranbaxy, Paonta Shahib, India                        1855
4          Aurobindo Unit III, India                        7590
...                              ...                         ...
6304    Hetero Unit III Hyderabad IN                         582
6305       Aurobindo Unit III, India                        3503
6307    Hetero Unit III Hyderabad IN   See ASN-26923 (ID#:13027)
6308       Aurobindo Unit III, India  Weight Captured Separately
6309  Mylan (formerly Matrix) Nashik                         858

                            freight_cost    cities countries
0                                 780.34        []        []
1                                 4521.5        []   [India]
2                                1653.78        []        []
3                               16007.06        []   [India]
4                               45450.08        []   [India]
...                                  ...       ...       ...
6304                             2990.64        []        []
6305                            19461.76        []   [India]
6307           See ASN-26923 (ID#:13027)        []        []
6308  Freight Included in Commodity Cost        []   [India]
6309                            10833.06  [Nashik]        []

[5352 rows x 14 columns]
(8939, 14)

In [155]:
#selected columns
d_country = {}
for i in df["country"]:
    if i in d_country:
        d_country[i] = d_country[i] + 1
    else:
        d_country[i] = 1

In [156]:
#define categorical columns and numerical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 5 numerical features : ['unit_of_measure', 'line_item_quantity', 'line_item_value', 'pack_price', 'unit_price']

We have 9 categorical features : ['country', 'fulfill_via', 'vendor', 'shipment_mode', 'mfg_site', 'weight', 'freight_cost', 'cities', 'countries']

In [157]:
#country  fulfill_via vendor shipment_mode  unit_of_measure        
#line_item_quantity  line_item_value  pack_price  unit_price   

print("Categories in 'fulfill_via' variable:     ",end=" " )
print(df['fulfill_via'].unique())

print("Categories in 'vendor' variable:     ",end=" " )
print(df['vendor'].unique())

print("Categories in 'shipment_mode' variable:     ",end=" " )
print(df['shipment_mode'].unique())

print("Categories in 'weight' variable:     ",end=" " )
print(df['weight'].unique())

print("Categories in 'freight_cost' variable:     ",end=" " )
print(df['freight_cost'].unique())

Categories in 'fulfill_via' variable:      ['Direct Drop' 'From RDC']
Categories in 'vendor' variable:      ['EXW' 'FCA' 'DDU' 'CIP' 'DDP' 'N/A - From RDC' 'CIF' 'DAP']
Categories in 'shipment_mode' variable:      ['Air' nan 'Truck' 'Air Charter' 'Ocean']
Categories in 'weight' variable:      ['13' '358' '171' ... '1547' 'See DN-4282 (ID#:83919)' '1392']
Categories in 'freight_cost' variable:      ['780.34' '4521.5' '1653.78' ... '26180' '3410' 'See DN-4282 (ID#:83919)']

In [158]:
print(df.dtypes)

country                object
fulfill_via            object
vendor                 object
shipment_mode          object
unit_of_measure         int64
line_item_quantity      int64
line_item_value       float64
pack_price            float64
unit_price            float64
mfg_site               object
weight                 object
freight_cost           object
cities                 object
countries              object
dtype: object

In [159]:
# cleaning weight and freight_cost column
df.head(10)

,country,fulfill_via,vendor,shipment_mode,unit_of_measure,line_item_quantity,line_item_value,pack_price,unit_price,mfg_site,weight,freight_cost,cities,countries
0,Côte d'Ivoire,Direct Drop,EXW,Air,30,19,551.00,29.00,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,[],[]
1,Vietnam,Direct Drop,EXW,Air,240,1000,6200.00,6.20,0.03,"Aurobindo Unit III, India",358,4521.5,[],[India]
2,Côte d'Ivoire,Direct Drop,FCA,Air,100,500,40000.00,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,171,1653.78,[],[]
3,Vietnam,Direct Drop,EXW,Air,60,31920,127360.80,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1855,16007.06,[],[India]
4,Vietnam,Direct Drop,EXW,Air,60,38000,121600.00,3.20,0.05,"Aurobindo Unit III, India",7590,45450.08,[],[India]
5,Nigeria,Direct Drop,EXW,Air,240,416,2225.60,5.35,0.02,"Aurobindo Unit III, India",504,5920.42,[],[India]
6,Zambia,Direct Drop,DDU,Air,90,135,4374.00,32.40,0.36,MSD South Granville Australia,328,Freight Included in Commodity Cost,[],[]
7,Tanzania,Direct Drop,EXW,Air,60,16667,60834.55,3.65,0.06,"Aurobindo Unit III, India",1478,6212.41,[],[India]
8,Nigeria,Direct Drop,EXW,Air,60,273,532.35,1.95,0.03,"Aurobindo Unit III, India",See ASN-93 (ID#:1281),See ASN-93 (ID#:1281),[],[India]
9,Zambia,Direct Drop,CIP,Air,120,2800,115080.00,41.10,0.34,ABBVIE (Abbott) St. P'burg USA,643,Freight Included in Commodity Cost,[],[]

In [160]:
count = 0
for i in df["freight_cost"]:
    if i != "Freight Included in Commodity Cost":
        count = count + 1
print(count)

7525

In [161]:
print(df['freight_cost'].value_counts())

freight_cost
Freight Included in Commodity Cost    1414
Invoiced Separately                    162
9736.1                                  36
6147.18                                 27
7445.8                                  16
                                      ...
10816.49                                 1
See ASN-17572 (ID#:19630)                1
5024.15                                  1
18700.09                                 1
See DN-4282 (ID#:83919)                  1
Name: count, Length: 5655, dtype: int64

In [162]:
# Freight Cost = (Unit of Measure * Line Item Quantity * Unit Price * Distance * Weight) / (100 * Line Item Value) + Additional Charges
# df['f_cost'] = (df["unit_of_measure"] * df["line_item_quantity"] * df["unit_price"] * df["distance"] * df["weight"] )/(100 * df["line_item_value"])

In [163]:
df["mfg_site"]

0            Ranbaxy Fine Chemicals LTD
1             Aurobindo Unit III, India
2         ABBVIE GmbH & Co.KG Wiesbaden
3         Ranbaxy, Paonta Shahib, India
4             Aurobindo Unit III, India
                      ...
10319        Mylan,  H-12 & H-13, India
10320      Hetero Unit III Hyderabad IN
10321     Cipla Ltd A-42 MIDC Mahar. IN
10322    Mylan (formerly Matrix) Nashik
10323                 Cipla, Goa, India
Name: mfg_site, Length: 8939, dtype: object

In [165]:
df.head(2)

,country,fulfill_via,vendor,shipment_mode,unit_of_measure,line_item_quantity,line_item_value,pack_price,unit_price,mfg_site,weight,freight_cost,cities,countries
0,Côte d'Ivoire,Direct Drop,EXW,Air,30,19,551.0,29.0,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,[],[]
1,Vietnam,Direct Drop,EXW,Air,240,1000,6200.0,6.2,0.03,"Aurobindo Unit III, India",358,4521.5,[],[India]

   ID Project Code            PQ # PO / SO # ASN/DN #        Country
0   1   100-CI-T01  Pre-PQ Process    SCMS-4    ASN-8  Côte d'Ivoire  \
1   3   108-VN-T01  Pre-PQ Process   SCMS-13   ASN-85        Vietnam
2   4   100-CI-T01  Pre-PQ Process   SCMS-20   ASN-14  Côte d'Ivoire
3  15   108-VN-T01  Pre-PQ Process   SCMS-78   ASN-50        Vietnam
4  16   108-VN-T01  Pre-PQ Process   SCMS-81   ASN-55        Vietnam

  Managed By  Fulfill Via Vendor INCO Term Shipment Mode  ...
0   PMO - US  Direct Drop              EXW           Air  ...  \
1   PMO - US  Direct Drop              EXW           Air  ...
2   PMO - US  Direct Drop              FCA           Air  ...
3   PMO - US  Direct Drop              EXW           Air  ...
4   PMO - US  Direct Drop              EXW           Air  ...

  Unit of Measure (Per Pack) Line Item Quantity Line Item Value Pack Price
0                         30                 19           551.0      29.00  \
1                        240               1000          6200.0       6.20
2                        100                500         40000.0      80.00
3                         60              31920        127360.8       3.99
4                         60              38000        121600.0       3.20

  Unit Price             Manufacturing Site First Line Designation
0       0.97     Ranbaxy Fine Chemicals LTD                    Yes  \
1       0.03      Aurobindo Unit III, India                    Yes
2       0.80  ABBVIE GmbH & Co.KG Wiesbaden                    Yes
3       0.07  Ranbaxy, Paonta Shahib, India                    Yes
4       0.05      Aurobindo Unit III, India                    Yes

  Weight (Kilograms) Freight Cost (USD) Line Item Insurance (USD)
0                 13             780.34                       NaN
1                358             4521.5                       NaN
2                171            1653.78                       NaN
3               1855           16007.06                       NaN
4               7590           45450.08                       NaN

[5 rows x 33 columns]